<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng xuất thành công</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('https://1.bp.blogspot.com/-7RKN1sxyfh4/XmcQpq8JNCI/AAAAAAAAWuU/mJIITkDl_VgcOGPo50v6wKvLviYmod5agCLcBGAsYHQ/s1600/hinh-anh-pikachu%2B%25281%2529.jpg'); background-repeat: no-repeat; background-size: cover; background-position: top;height:100%;">
		<button type="button" class="btn btn-primary"><a href="/admin/"  style="color:white;margin-top: 0px;">Quay về</a></button>
	<h1 style="text-align: center; color: white; font-size: 50px;">Đăng xuất tài khoản thành công!</h1>

</body>
</html>