<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" 
>
<head>
<meta charset="UTF-8">
<title>Thêm bài học Java</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
   	body {
    position: relative;
  }
h1{
  	background-color: #2E2E2E;
    padding: 10px;
    color: white;
    padding-left: 80px;
}
  ul.nav-pills {
    top: 100px;
    position: fixed;
  }

#section1
{
  margin-top: 15px;
}
  .title
  {
    padding: 100px;
    margin-left: 50px;
    margin-top: 100px;
  }
  .titla
  {
    padding: 10px;
  }
  h2{
    margin-top: 50px;
    font-size: 35px;
    text-align: center;
  }
  .btn-secondary
  {
  	float:right;
  }
</style>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
 <div class="fixed-top">
    <h1> LGLH </h1>
  </div>
	<div align="center">
		<h1>Thêm một bài học</h1><br>
		<form  th:action="@{/admin/quanlibaihoc/save}" th:object="${baihoc}" method="post">
		 
			<table border="0" cellpadding="10">
				<tr>
					<td>Nhập mã bài học: </td>
					<td><input type="text" th:field="*{mabaihoc}"></td>
				</tr>
				
				<tr>
					<td>Nhập số thứ tự bài học: </td>
					<td><input type="text" th:field="*{stt}"></td>
				</tr> 
	
				<tr>
					<td>Nhập tên bài học: </td>
					<td><input type="text" th:field="*{tenbaihoc}"></td>
				</tr>
				<tr>
					<td>Nhập mã khóa học: </td>
					<td><input type="text" th:field="*{danhmuckhoahoc.makhoahoc}"></td>
				</tr>
				
				<tr style="float: right;padding-top: 20px;">
					<td colspan="2"><input class="btn btn-primary" type="submit" value="Save"></td>
				</tr>
			</table>
		</form>
	</div>
	 <div class="footer-copyright text-center py-3 fixed-bottom" style="margin-top: 15px;background-color: rgba(0, 0, 0, 0.2);"> © 2020 Copyright:
   <a href="https://LGLH/"> LGLH.com</a>
 </div>
</body>
</html>